.error__modal {
	position: absolute;
	bottom: 60px;
	right: 40px;
	align-self: center;
	border-radius: 20px;
	padding: 10px 20px;
	background: rgb(89, 117, 222);
	color: white;
	letter-spacing: 2px;
	font-size: 1rem;
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
	z-index: 99999;
	animation: appear 2000ms ease forwards;
}

@keyframes appear {
	0% {
		margin-bottom: -60px;
		opacity: 0;
	}
	20% {
		opacity: 1;
		margin-bottom: 0;
	}
	90% {
		opacity: 1;
		margin-bottom: 0;
	}
	100% {
		opacity: 0;
		margin-bottom: -60px;
	}
}
